<<<<<<< HEAD
<!-- /templates/customers/account.liquid -->
{% comment %}

  For all available customer liquid tags:
    - http://docs.shopify.com/themes/liquid-variables/customer

{% endcomment %}

{% layout settings.customer_layout %}

<h1>{{ 'customer.account.title' | t }}</h1>

<hr class="hr--small">

<div class="grid">

  <div class="grid__item two-thirds medium-down--one-whole">
    <h4>{{ 'customer.orders.title' | t }}</h4>

    {% comment %}
      If we have past orders, loop through each one
    {% endcomment %}
    {% if customer.orders.size != 0 %}

      <div class="table-wrap">
        <table class="full">
          <thead>
            <tr>
              <th>{{ 'customer.orders.order_number' | t }}</th>
              <th>{{ 'customer.orders.date' | t }}</th>
              <th>{{ 'customer.orders.payment_status' | t }}</th>
              <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
              <th>{{ 'customer.orders.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {% for order in customer.orders %}
              <tr>
                <td>{{ order.name | link_to: order.customer_url }}</td>
                <td>{{ order.created_at | date: format: 'month_day_year' }}</td>
                <td>{{ order.financial_status_label }}</td>
                <td>{{ order.fulfillment_status_label }}</td>
                <td>{{ order.total_price | money }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    {% else %}

      <p>{{ 'customer.orders.none' | t }}</p>

    {% endif %}
  </div>

  <div class="grid__item one-third medium-down--one-whole">
    <h4>{{ 'customer.account.details' | t }}</h4>

    <h5>{{ customer.name }}</h5>

    {% if customer.default_address != nil %}
      <p>
      {{ customer.default_address.address1 }}<br>

      {% if customer.default_address.address2 != "" %}
        {{ customer.default_address.address2 }}<br>
      {% endif %}

      {% if customer.default_address.city != "" %}
        {{ customer.default_address.city }}<br>
      {% endif %}

      {% if customer.default_address.province_code != "" %}
        {{ customer.default_address.province_code | upcase }}<br>
      {% endif %}

      {% if customer.default_address.zip != "" %}
        {{ customer.default_address.zip | upcase }}<br>
      {% endif %}

      {% if customer.default_address.country != "" %}
        {{ customer.default_address.country }}<br>
      {% endif %}

      {% if customer.default_address.phone != "" %}
        {{ customer.default_address.phone }}
      {% endif %}
      </p>

    {% endif %}

    <p><a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
  </div>

=======
{% layout settings.customer_layout %}
<div id="customer-account">

  <div class="row">
    <div class="span12">
      <h1 class="title clearfix">Account Details
        <span class="note">{{ 'Logout' | customer_logout_link }}</span>
      </h1>
    </div>
  </div>

  <div class="row">
    <div id="customer_orders" class="span8">
      {% if customer.orders.size != 0 %}
      <table>
        <thead>
          <tr>
            <th class="order_number">Order</th>
            <th class="date">Date</th>
            <th class="payment_status">Payment Status</th>
            <th class="fulfillment_status">Fulfillment Status</th>
            <th class="total">Total</th>
          </tr>
        </thead>
        <tbody>
          {% for order in customer.orders %}
          <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
            <td>{{ order.name | link_to: order.customer_url }}</td>
            <td><span class="note">{{ order.created_at | date: "%b %d, %Y" }}</span></td>
            <td><span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></td>
            <td><span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></td>
            <td><span class="total money">{{ order.total_price | money }}</span></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>You haven't placed any orders yet.</p>
      {% endif %}
    </div>

    <div id="customer_sidebar" class="span4">
      <h2>{{ customer.name }}</h2>
      <p class="email note">{{ customer.email }}</p>
      <div class="address note">
        {% if customer.default_address != nil %}
        <p>{{ customer.default_address.address1 }}</p>
        {% if customer.default_address.address2 != "" %}
        <p>{{ customer.default_address.address2 }}</p>
        {% endif %}
        <p>{{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}</p>
        <p>{{ customer.default_address.zip}}</p>
        <p>{{ customer.default_address.phone }}</p>
        {% endif %}
        <a id="view_address" href="/account/addresses">View Addresses</a>
      </div>
    </div>

  </div>
>>>>>>> GitHub/master
</div>
