<<<<<<< HEAD
<!-- /templates/customers/activate_account.liquid -->
{% layout settings.customer_layout %}

<div class="grid">
  <div class="grid__item large--one-third push--large--one-third">

    <h1>{{ 'customer.activate_account.title' | t }}</h1>
    <p>{{ 'customer.activate_account.subtext' | t }}</p>

    {% comment %}
      This form must use 'activate_customer_password'
    {% endcomment %}
    {% form 'activate_customer_password' %}

      {{ form.errors | default_errors }}

      <label for="CustomerPassword" class="label--hidden">{{ 'customer.activate_account.password' | t }}</label>
      <input type="password" value="" name="customer[password]" id="CustomerPassword" placeholder="{{ 'customer.activate_account.password' | t }}">

      <label for="CustomerPasswordConfirmation" class="label--hidden">{{ 'customer.activate_account.password_confirm' | t }}</label>
      <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" placeholder="{{ 'customer.activate_account.password_confirm' | t }}">

      <div class="text-center">
        <p>
          <input type="submit" class="btn" value="{{ 'customer.activate_account.submit' | t }}">
        </p>
        <input type="submit" class="btn--secondary" name="decline" value="{{ 'customer.activate_account.cancel' | t }}">
      </div>
    {% endform %}

=======
{% layout settings.customer_layout %}
<div id="customer-activate" class="row">
  <div class="span12">
    <h1>Activate Account</h1>
    <p class="note create-password">Create your password to activate your account</p>

    {% form 'activate_customer_password' %}
    {{ form.errors | default_errors }}

    <label class="label" for="password">Password</label>
    <input type="password" value="" name="customer[password]" id="customer_password" class="text" size="16" />

    <label class="label" for="password_confirmation">Password Confirmation</label>
    <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="text" size="16" />

    <div class="action_bottom">
      <input class="btn" type="submit" value="Activate Account" />
      <span class="note">or</span>
      <a href="/">Decline Invitation</a>
    </div>
    {% endform %}
>>>>>>> GitHub/master
  </div>
</div>
